body{
   margin: 0;
   padding: 0;
}
        
.grid{
   display: flex;
   flex-wrap: wrap;
   border: 2px solid black;
}

.invader {

    background-image: url(invader.png);
    background-size: cover;
}

.shooter{
    background-color: chartreuse;
    border-radius: 0%;
}

.bullet{
   /* background-color: yellow;*/
   background-image: url(bullet.png); 
   background-size: cover;
    /*background-image: url('../images/bullet.png');*/
}