body{
   margin: 0;
   padding: 0;
}
        
.grid{
   display: flex;
   flex-wrap: wrap;
   border: 2px solid black;
}

.invader {
    background-color: brown;
    border-radius: 50%;
}

.shooter{
    background-color: chartreuse;
    border-radius: 0%;
}